* {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #F8FFE5;
}

.box {
  -webkit-perspective: 76em;
  perspective: 76em;
  -webkit-perspective-origin: 50% 50px;
  perspective-origin: 50% 50px;
  width: 494px;
  margin: 100px auto;
  font-weight: 100;
  color: #F8FFE5;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform-origin: 0 100px;
  transform-origin: 0 100px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

input {
  display: none;
}

label {
  width: 80px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 70px;
  font-weight: 300;
  background: #fff;
}

label:nth-child(1) {
  top: -5px;
  background: #06D6A0;
}

label:nth-child(2) {
  top: 69px;
  background: #1B9AAA;
}

label:nth-child(3) {
  top: 143px;
  background: #EF476F;
}

.cube {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.cube .content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cube .content h1 {
  font-size: 25px;
  margin: 75px 0 10px;
  font-weight: 300;
}

.cube .content:nth-child(1) {
  background: #06D6A0;
  -webkit-transform: rotateX(-270deg) translateY(-100px);
  transform: rotateX(-270deg) translateY(-100px);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.cube .content:nth-child(2) {
  background: #1B9AAA;
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
}

.cube .content:nth-child(3) {
  background: #EF476F;
  -webkit-transform: rotateX(-90deg) translateY(100px);
  transform: rotateX(-90deg) translateY(100px);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

#tab-top:checked ~ .cube {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

#tab-front:checked ~ .cube {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

#tab-bottom:checked ~ .cube {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
